<h1 mat-dialog-title>Add new player</h1>
<div mat-dialog-content>
  <p>Please enter the name of a player</p>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
</div>

<img [class.highlight]="picture == highlight" (click)="highlightPicture(picture); data.picture = picture" class="profile-picture" *ngFor="let picture of allProfilePictures" src="./assets/img/profile/{{ picture }}">

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [disabled]="data.name.length == 0 || data.picture.length == 0" [mat-dialog-close]="data">Ok</button>
</div>